body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    padding: 0%;
    margin: 0%;
    border-radius: 20px;
    font-size: large;
}

header
{
    background-color: white;
    display: flex block;
    color: rgb(27, 137, 255);
}

header img
{
    width: 70px;
    height: 70px;
}

main
{
    background-image: url(../imagens/Captura\ de\ tela\ 2025-11-04\ 153734.png);
    padding: 2%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    box-shadow: 5px 5px 15px darkblue;
    width: 96%;
    display: block;
}

main h1
{
    font-size: 3vw;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: glow 2s ease-in-out infinite alternate;
    margin-bottom: 20px;
}

main h2
{
    font-size: 2.5vw;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: glow 2s ease-in-out infinite alternate;
}

main h3
{
    font-size: 2vw;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: glow 2s ease-in-out infinite alternate;
}

main a
{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
    
    padding: 10px 20px;
    border-radius: 5px;
    
}
